<form name="{{ name }}" ng-submit="submit()" novalidate>

  <!-- Para evitar que chrome me guarde el "usuario" -->
  <input type="password" style="display:none">

  <!-- ng-repeat solo da problemas y no representa un caso de uso para la directiva -->
  <!--question ng-repeat="question in data"
    label="question.label"
    type="question.type"
    name="question.name"
    model="question.model"
    required="question.required"
    maxlength="question.maxlength"
    minlength="question.minlength"
    min="question.min"
    max="question.max"
    pattern="question.pattern"
    options="question.options">
  </question-->

  <question type="text"
    label="data.nombre.label"
    name="data.nombre.name"
    model="data.nombre.model"
    required="data.nombre.required"
    maxlength="data.nombre.maxlength"
    pattern="data.nombre.pattern">
  </question>

  <question type="password"
    label="data.pass.label"
    name="data.pass.name"
    model="data.pass.model"
    required="data.pass.required"
    minlength="data.pass.minlength">
  </question>

  <question type="date"
    label="data.nacimiento.label"
    name="data.nacimiento.name"
    model="data.nacimiento.model"
    required="data.nacimiento.required"
    min="data.nacimiento.min"
    max="data.nacimiento.max">
  </question>

  <question type="email"
    label="data.email.label"
    name="data.email.name"
    model="data.email.model"
    required="data.email.required">
  </question>

  <question type="number"
    label="data.parpadeos.label"
    name="data.parpadeos.name"
    model="data.parpadeos.model"
    required="data.parpadeos.required">
  </question>

  <question type="radio"
    label="data.pokemon.label"
    name="data.pokemon.name"
    model="data.pokemon.model"
    options="data.pokemon.options">
  </question>

  <question type="select"
    label="data.color.label"
    name="data.color.name"
    model="data.color.model"
    required="data.color.required"
    options="data.color.options">
  </question>

  <question type="checkbox"
    label="data.spam.label"
    name="data.spam.name"
    model="data.spam.model">
  </question>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>

<modal id="modal" results="results"></modal>
